<div class="col-md-3">
  <div class="card mb-4 box-shadow">
    <%= image_tag 'curry.png', class: 'card-img-top rounded-circle' %>
    <div class="card-body text-center">
      <p class="card-text"> <%= bet.player.full_name  %> </p>
      <p> <%= "LINE: #{bet.line} PTS" %> </p>
      <p> Monster Pick: <%= pick_over_tag(bet.pick_over) %> </p>
    </div>
  </div>
</div>
