<main role="main">
   <div class="album py-5">
      <div class="container">
        <% if @bets.present? %>
          <div class="row players">
             <%= render @bets %>
          </div>
        <% else %>
          <div class="alert alert-danger col-md-12" role="alert">
            Sorry! No bets available for this date. 
          </div>
        <% end %>
      </div>
   </div>
</main>
