body, main, .album{
  min-height: 100%;
  width: 100%;
  position: absolute;
}

html{
  min-height: 100%;
}

.card {
  background-color: #2b2b84;
  .card-img-top{
    background: #7b1b1b;
  }
  .card-body{
    color: white;
  }
}

.players{
  background: #2f2ff7;
  padding: 15px 0px;
}

.album{
  background: #2b2b84;
}
